@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');


#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width:auto;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', Helvetica, sans-serif !important;
    

}



body {
    
    background-color: var(--background) !important;
}
.navbar .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
  }

button, .btn{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
}
#body{
    margin-top:60px;
    font-size: 1em;
}
.nav{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
    padding-left:  1rem;
    padding-right: 1rem;
}
.footer{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
    padding: .1rem 1rem;
}
.navbar>ul>li>a{
    color: var(--text_nav)!important;
}
.container{
    max-width: 100% !important;
}
.error {
    color: #f55;
}

:root {

    --background: #fff;
    --text_nav: #fff; 
    --nav: #2d2d2d;
    --text: #000;
  }

  @media (min-width: 768px) {
    .contenedor {
        display: flex;
        width: 100vw;
        height: 88vh;
        justify-content: center;
        align-items: center;
      }
}
